ollama
colorama
chromadb
pyperclip; platform_system != 'Windows'
pywin32; platform_system == 'Windows'
readline; platform_system != 'Windows'
argparse
pygments
ddgs
beautifulsoup4
markdownify
requests
PyPDF2
chardet
langchain-text-splitters
openai
tqdm
rank-bm25
appdirs
lxml
python-pptx
python-docx